@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1{
        font-size:40px;
        font-weight: bold;
    }
}

@layer components{
    body {
        color: white;
    }
}

.chatbox-bg{
    background: url('../public/bg.svg');
}

.inherit{
    width:inherit
}